Buy of car:

1. При покупке машины получает токены на бесплатное обслуживание в гривневом эквиваленте
2. В зависимости от цены машины получает 1% от стоимости автомобиля
3. Человек может рассчитываться этими токенами за прохождение ТО на протяжении 2 лет
4. По истечении срока действия токенов эти токены становятся недействительными. 

User:
    - name
    

car:
    - price
    - brand
    - model

Order 
    -  price
    - userID
    - carID
    - date

buyCar(carID, UserID)
    => tokens depends of car’s price

getTokensFromUser() 